$countdown_item_width: 70px;

.countdown__container {
  position: relative;
  top: -210px;
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  @media screen and (max-width: 1083px) {
    display: none;
  }

  @media screen and (min-width: 1800px) {
    top: -227px;
  }

  @media screen and (min-width: 2100px) {
    top: -239px;
  }
}

.countdown {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  text-align: center;
  color: #FFFFFF;
  background-image: linear-gradient(135deg, #D608AF 0%, #4698E0 100%);
  border-radius: 2px;
}

.countdown__title {
  position: relative;
  top: 100px;
  width: 4 * $countdown_item_width;
  //margin-top: 11px;
  text-align: center;
  font-size: 1.125rem;
  color: #006;
}

.countdown__display {
  position: relative;
  width: $countdown_item_width;
  flex: auto;
  padding: 1rem 0;
  text-align: center;
  font-size: .875rem;
  text-transform: uppercase;
  letter-spacing: 1px;

  &:not(:last-child):after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    border: 0;
    height: 100%;
    border: .5px solid rgba(255,255,255,.4);
  }
}

.countdown__figure {
  margin-bottom: 4px;
  font-size: 2.625rem;
  font-family: 'gotham-light';
}

.hide {
  display: none !important;
}

.reveal {
  opacity: 0;
  transition: opacity .3s ease-out;
}

.reveal.on {
  opacity: 1;
}

.time:not(:last-child)  {
  margin-right: 1rem;
}
